<!DOCTYPE html>
<html lang="en">
<head>

    <%-include ('partials/header.ejs') %>

</head>
<body>

    <%-include ('partials/nav.ejs') %>
   


   
 <%if(orders.length === 0){ %>
    <p class="alert alert-danger"> There is no Orders</p>
   <%}else{ %>
    <!-- Order Header Information (one time only) -->
     <%orders.forEach((order) =>{ %>

<div class="container mt-5">
    <div class="row">

        <!-- LEFT: Order Details -->
        <div class="col-md-4">
            <div class="card p-3 shadow-sm">
                <h4 class="mb-3">Order Information</h4>

                <div class="order-info-label">Customer name : </div>
                <div class="order-info-value"><%=  order.fName   %> <%=  order.lName   %> </div>
                <div class="order-info-label">Customer email : </div>
                <div class="order-info-value"> <%=  order.email   %> </div>
                <div class="order-info-label">Address :</div>
                <div class="order-info-value"> <%=  order.address   %></div>
                <div class="order-info-label">Status : </div>

                <form method="post" action="/admin/orders/update-status/<%= order._id %>">
                    <select class="status-select" name="status">
                        <option value="Pending" <%= order.status === "Pending" ? "selected" : "" %>>Pending</option>
                        <option value="Processing" <%= order.status === "Processing" ? "selected" : "" %>>Processing</option>
                        <option value="Shipped" <%= order.status === "Shipped" ? "selected" : "" %>>Shipped</option>
                        <option value="Cancelled" <%= order.status === "Cancelled" ? "selected" : "" %>>Cancelled</option>                     
                    </select>
                    <input type="submit" value="Save" class="btn btn-success">

                </form>

                 
  
                <div class="order-info-label">Total Price : </div>
                <div class="order-info-value"><%=  order.totalPrice   %></div>
                <div class="order-info-label">Created At :</div>
                <div class="order-info-value"> <%=   order.createdDate.toLocaleString()    %></div>

            </div>
        </div>
    <!-- RIGHT: Items Table -->
    <div class="col-md-8">
        <div class="card p-3 shadow-sm">
            <h4 class="mb-3">Items</h4>
    <table border="1" class="table table-bordered align-middle">
        <thead class ="table-dark">
           <tr>
            <th> No </th>
            <th>Product Name</th>
            <th>Amount</th>
            <th>Price</th>  
                
           </tr>
        </thead >
        <tbody>
            <%order.items.forEach((item ,index) =>{ %>
                
                <tr>
                    <td><%= index+1 %></td>
                    <td><%= item.name %></td>
                    <td><%= item.amount %></td>
                    <td><%=  item.price * item.amount   %>$</td>
                </tr>    


               
           <% }) %>
                    <!-- Cancel single order -->
                    
                        <tr>
                        <td colspan="4" class="text-center">
                            <form action="/admin/orders/delete" method="post">
                                <input type="hidden" name="orderId" value="<%= order._id %>" >
                                <input type="submit" value="Cancle" class="btn btn-danger">
                            </form>
                        </td>                    
                 </tr>   
           
           
        
        </tbody>
    </table>
    </div>
    </div>
    
</div>
</div>
<%}) %>

    <%if(OrderError && OrderError.length > 0){ %>
        <p class="alert alert-danger"><%= OrderError %></p>
            
    <%}%>

    <%if( successMsg &&  successMsg.length > 0){ %>
        <p class="alert alert-success fade show"><%= successMsg  %></p>
            
    <%}%>



<%}%>

<%-include ('partials/footer.ejs') %>
</body>





</html>